body {
	width: 960px;
	margin: 0 auto;
}

ul {
	display: inline-block;
}

li {
	list-style: none;
	
}
span {
	margin-left: 1.5em;
}

.thumbs {
	height: 150px;
	width: 150px;
}
.show {
	margin-left: 30%;
	margin-right: 30%;
}
.hero {
	height: 300px;
	
}

